h2 {
  margin-top: 1rem;
}

textarea {
  resize: vertical;
}

button.secondary {
  background-color: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
}
.spaced {
  display: flex;
  gap: 1em;
}
