on: [push, pull_request]

name: Continuous integration
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        name: Checkout
      - uses: actions/setup-node@v3
        with:
          node-version: 24
      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v4.2.2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
      - name: Install Dependencies
        run: npm install
      - name: Lint
        run: |
          npm run lint
      - name: Build
        run: |
          npm run build
